.uk-navbar-li {
  margin-left: 6%;
}

.uk-navbar-li > li > a,
.uk-navbar-item,
.uk-navbar-toggle {
  font-size: 11px;
}

.locationsxm971 {
  font-size: 40px;
}

.infJohan article {
  padding-top: 4%;
  margin-bottom: 10%;
  margin: 0;
  width: 85%;
}

.uk-contact .contact {
  display: block;
  color: #999;
  font-size: 10px;
  margin-left: -12%;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
  transition-property: color;
}

.visiteurs {
  font-size: 12px;
  margin-left: -1%;
}

img,
.uk-border-circle {
  width: 120px;
  height: 200px;
}

img,
.counter {
  margin-left: -10%;
  width: 50%;
}

.facebook {
  margin-left: 32%;
}

.lien {
  margin-left: 30%;
  margin-top: 3%;
}
